:root {
  --soft-orange: hsl(35, 77%, 62%);
  --soft-red: hsl(5, 85%, 63%);

  --off-white: hsl(36, 100%, 99%);
  --grayish-blue: hsl(233, 8%, 79%);
  --dark-grayish-blue: hsl(236, 13%, 42%);
  --very-dark-blue: hsl(240, 100%, 5%);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--off-white);
  font-family: "Inter", sans-serif;
  font-size: 15px;
}
header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 2% auto;
  width: 70%;
}
nav {
  display: flex;
  justify-content: space-between;
  width: 45%;
}
nav > .menu-item {
  cursor: pointer;
}
nav > .menu-item:hover {
  color: var(--soft-orange);
}
main {
  display: grid;
  margin: 1% auto;
  width: 70%;
  gap: 18px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 5fr 4fr 4fr;
  grid-template-areas:
    "image-web-3 image-web-3 sidebar "
    "main-header main sidebar"
    "top-1 top-2 top-3";
}
.image-web-3 {
  background-image: url("./assets/images/image-web-3-desktop.jpg");
  grid-area: image-web-3;
  background-size: cover;
  background-position: center;
}
aside {
  background-color: var(--very-dark-blue);
  color: var(--off-white);
  grid-area: sidebar;
  padding: 10px 0;
}
aside > header {
  color: var(--soft-orange);
  font-size: 24px;
  width: 70%;
  margin: 0 auto;
}
aside > article > header {
  margin: 0;
  margin-bottom: 6px;
  width: 100%;
  cursor: pointer;
}
aside > article > header:hover {
  color: var(--soft-orange);
}
aside > article {
  width: 70%;
  margin: 15px auto;
  padding: 10px 0;
  border-bottom: 1px solid var(--dark-grayish-blue);
}
aside > article > p {
  color: var(--grayish-blue);
}
aside > article:last-child {
  border-bottom: none;
}
main > header {
  margin: 0;
  display: block;
  grid-area: main-header;
  width: 100%;
}
main > header > h1 {
  font-size: 3.3vw;
  font-weight: 900;
  line-height: 1;
}
main > article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 1.1vw;
}
main > article > button {
  width: 50%;
  background-color: var(--soft-red);
  color: var(--off-white);
  border: none;
  cursor: pointer;
  height: 25%;
  letter-spacing: 3px;
  text-transform: uppercase;
}
main > article > button:hover {
  background-color: black;
  color: white;
}
.top {
  display: block;
}
.top > img {
  width: 30%;
  float: left;
}
.top > .text {
  font-size: 15px;
  margin-left: 6%;
  width: 64%;
  float: left;
}
.top > .text > h1 {
  font-size: 36px;
  color: var(--grayish-blue);
}
.top > .text > h2 {
  font-size: 20px;
  color: var(--very-dark-blue);
  cursor: pointer;
}
.top > .text > h2:hover {
  color: var(--soft-red);
}
.top-1 {
  grid-area: top-1;
}
.top-2 {
  grid-area: top-2;
}
.top-3 {
  grid-area: top-3;
}
